process {
    executor = 'slurm'
    queue    = 'nodes'


    withName: GET_WGS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }


    withName: Fastqc {
        cpus = 4
        memory = '4 GB'
        time = '1h'
    }
        withName: Fastp {
        cpus = 6
        memory = '16 GB'
        time = '2h'
    }

    withName: Multiqc {
        cpus = 6
        memory = '8 GB'
        time = '1h'
    }

    withName: Snippy {
        cpus = 16
        memory = '32 GB'
        time = '6h'
    }
    withName:TBFilter {
        memory = '4 GB'
        cpus   = 1
    }
    withName:TBProfiler {
        memory = '8 GB'
        cpus   = 4
    }
}
